<!DOCTYPE html>
<html>
  <head>
    <title>NodeJS Simple Forum</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/lib/loading-bar.css">

    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
            background-color: #dfdfdf;
        }
    </style>

  </head>
  <body ng-app="simpleforum" ng-controller="MainCtrl">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand"> <b>Simple Forum</b></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a ng-href="#/">Home</a></li>
            <button data-ng-show="token" type="button" class="btn btn-default navbar-btn" data-toggle="modal" ng-click="logout()"><b>Log Out</b></button>
            <button data-ng-hide="token" type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#singinModal"><b>Sign In</b></button>
            <button data-ng-hide="token" type="button" class="btn btn-info navbar-btn">Sign Up</button></button>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" ng-view="">
      <div class="jumbotron">
        <center>
          <h1>Sign In to see the Topics!</h1>
        </center>
      </div>

      <!-- Sign In Modal -->
      <div class="modal fade" id="singinModal" role="dialog" data-ng-hide="token">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Sign In</h4>
            </div>
            <div class="modal-body">
              <div class="form-group" ng-form name="signinform">
                <label>Username:</label>
                <input ng-model="username" type="text" placeholder="Username" name="username" class="form-control"/>
                <span class="error" ng-show="signinform.username.$untouched">Too long!</span>
              </div>
              <div class="form-group">
                <label>Password:</label>
                <input ng-model="password" type="password" placeholder="Password" name="password" class="form-control"/>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" ng-click="signin()">Sign In</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script src="/lib/ngStorage.js"></script>
    <script src="/lib/loading-bar.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/main.js"></script>
    <script src="/scripts/controllers/user.js"></script>
    <script src="/scripts/services/user.js"></script>
  </body>
</html>
