<md-content flex layout-padding layout-xs="column" layout="row" layout-align="center center">
  <div flex-xs flex-gt-xs="50" layout="column" md-center ng-hide="token">
    <md-card>
      <img ng-src="assets/images/tech_trends.jpg" class="md-card-image" alt="Tech Trends">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Simple Forum</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          Sign In to see the topics!
        </p>
      </md-card-content>
    </md-card>
  </div>
</md-content>
