extends layout

block content

  - if (invalidCredentials) {
    .alert.alert-danger
      strong Invalid Credentials! Try again.
  - }
  
  form(method="post")

    .form-group  
      label Username:
      input.form-control(type='text', placeholder='Username', name="username")
    .form-group
      label Password:
      input.form-control(type='password', placeholder='Password', name="password")
    button.btn.btn-primary(type='submit') Login

    
