extends ../layout

block content
  
  form(method="post")
  
    .form-group  
      label Title:
      input.form-control(type='text', placeholder='Title', name="title", required)
    .form-group  
      label Description:
      input.form-control(type='text', placeholder='Description', name="description", required)        
    button.btn.btn-primary(type='submit') Add
