<md-toolbar ng-show="token">
  <div class="md-toolbar-tools">
    <h2>
      <span>Topics</span>
    </h2>
  <span flex></span>
   <md-button class="md-fab md-mini" class="md-accent" ng-click='new()' aria-label="New Topic">
     <md-icon md-svg-icon="assets/images/new.svg"></md-icon>
   </md-button>
 </div>
</md-toolbar>
<md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loading"></md-progress-linear>
<md-list-item ng-show="token" class="md-2-line" ng-repeat="topic in topics" ng-click="null">
  <div class="md-list-item-text" layout="column" flex="10">
    <h3>{{ formatDate(topic.date) }}</h3>
    <p>{{ formatTime(topic.date) }}</p>
  </div>

  <div class="md-list-item-text" layout="column">
    <h3>{{ topic.title }}</h3>
    <p>{{ topic.description }}</p>
  </div>
  <md-button ng-click="edit(item)" >
    Edit
  </md-button>
  <md-button ng-click="delete(item)" >
    Delete
  </md-button>
  <md-divider ></md-divider>
</md-list-item>
